//
// Global styles
//

@bg: #000;

@text: #fff;

@link: @text;

@color: #2fe6ed;

@font-one: 'Source Code Pro', monospace;

@font-weight-one: 300;
@font-weight-two: 400;

@font-size-one: 150%;
@font-size-two: 85%;

@line-height: 1.5;


@border: 1px solid @text;

@transition-duration: 250ms;

@import url( http://fonts.googleapis.com/css?family=Source+Code+Pro:200,300,400,500,600 );


// VARS

@shadow-width: 0.75em;

// MIXINS

.fancy-shadow {

  &::before,
  &::after {
    content: ' ';
    position: absolute;
    z-index: -9;

    display: block;    

    background: url( ../img/noise-static.gif );
    background-attachment: fixed;
  }

  &::before {    
    right: ( @shadow-width * -1 );
    bottom: ( @shadow-width * -1 );

    width: @shadow-width;
    height: 100%;
    margin-right: 0;
  }

  &::after {    
    right: ( @shadow-width * -1 );
    bottom: ( @shadow-width * -1 );

    width: 100%;
    height: @shadow-width;
    margin-bottom: 0;
  }
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: @font-one;
  font-size: ( @font-size-one * 1.2 );
  font-weight: @font-weight-two;
  line-height: @line-height;
  text-rendering: optimizeLegibility;
  font-feature-settings: 'liga', 'dlig', 'kern'; 
  text-size-adjust: 100%;

  color: @text;
  background: @bg;
}

* {
  outline: 0;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  font-size: 1em;
}

h1 {

}

h2 {
  position: absolute;
  left: 0;
  top: 50%;

  width: 100%;
  margin: -1em 0 0 0;

  font-size: 2em;
  font-weight: @font-weight-one;
  text-align: center;
}

h3 {
  margin: 0 0 ( @line-height * 1em * 0.25 ) 0;
  font-size: 2em;
  font-weight: 300;
}

a {

  color: @text;
  text-decoration: none;

  &:hover,
  &:focus {

  }

  &:active {

  }

}


// STRUCTURE

section {
  display: inline;
}

slide {
  position: relative;

  display: block;
  clear: both;
  box-sizing: border-box;
  height: 100%;
  padding: 8em 2em 2em; // collapse border-box

  // border-bottom: 1px solid red;

  opacity: 0;
  transition: all 500ms ease;
}

slide.current {
  opacity: 1;
}

.content {

}

.footer {

}


// HEADER

h1 {
  position: fixed;
  left: 1em;
  top: 1em;
  z-index: 9;

  padding: 0.75em 0 0.75em 1em;

  // font-size: @font-size-two;
  font-weight: @font-weight-two;
  line-height: 1;

  background: @bg;
  border: 1px solid @text;
  border-right: 0;

  .fancy-shadow; 

  &::before {
    display: none;
  } 
}

// nav 

nav {
  position: fixed;
  left: 1em;
  top: 1em;
  z-index: 99;

  display: block;

  font-size: @font-size-two;
}

nav > span {
  position: relative;
  left: 9.4em;
  top: 0;
  z-index: 11;

  display: block;

  .fancy-shadow;
}

nav ul {
  height: 2em;
  margin: 0;
  padding: 0.25em 0;

  list-style-type: none;

  overflow: hidden;

  background: @bg;
  border: 1px solid @text;

  transition: all @transition-duration ease;

  &::before {
    content: ' ';
    position: absolute;
    left: 0;
    top: 1px;

    display: block;
    width: 1px;
    height: 2.5em;

    background: @bg;
  }
}

/*
nav:hover ul {
  height: auto;
  max-height: 12em;
}
*/

nav ul li {
  margin: 0;
  padding: 0;

  overflow: hidden;

  transition: all @transition-duration ease;
}
/*
nav ul.current-1 > li:first-child {
  margin-top: 0em;
}

nav ul.current-2 > li:first-child {
  margin-top: -2em;
}

nav ul.current-3 > li:first-child {
  margin-top: -4em;
}

nav ul.current-4 > li:first-child {
  margin-top: -6em;
}

nav:hover ul > li:first-child {
  margin-top: 0 !important;
}

*/

nav ul a {
  display: block;
  padding: 0.5em 1em;

  line-height: 1em;

  &:hover,
  &:focus,
  &:active {

  }

  &::before {
    content: '/';

    display: inline-block;
    margin: 0 0.9em 0 0;
  }
}

// CONTENT

p {
  margin: 0 0 ( @line-height * 1em ) 0;
}

.no-margin {
  margin-bottom: 0;
}

.indent {
  margin-left: 2.4em;
}

blockquote {
  position: relative;

  float: left;
  max-width: 60%;
  padding: 0.75em 1.25em 4em 1em;

  background: @bg;
  border: 1px solid @text;

  .fancy-shadow;  
}

table {

}

table tr {

}

table td {

}

cloud {
  position: absolute;
  left: 0;
  top: 0;

  width: 100%;
  height: 100%;

  border: 1px dotted blue;
}

cloud > node {
  position: absolute;
  left: 50%;
  top: 50%;

  width: 50%;

  text-align: center;
  transform-origin: 50% 50%;
}

cloud > node:nth-child( 1 ) {
  margin: 0 0 0 -50%;
  animation: mingle-1 8s infinite ease;
}

cloud > node:nth-child( 2 ) {
  margin: -10% 0 0 -25%;
  animation: mingle-2 8s infinite ease;
}

cloud > node:nth-child( 3 ) {
  margin: 10% 0 0 10%;
  animation: mingle-3 8s infinite ease;
}

cloud > node:nth-child( 4 ) {
  margin: 15% 0 0 -5%;
  animation: mingle-4 8s infinite ease;
}

@keyframes mingle-1 {
  0% {
    transform: translate( 0px, 0px );
  }
  25% {
    transform: translate( -50px, -80px );
  }
  50% {
    transform: translate( 40px, -60px );
  }
  75% {
    transform: translate( 50px, 20px );
  }
  100% {
    transform: translate( 0px, 0px );
  }
}

@keyframes mingle-2 {
  0% {
    transform: translate( 0px, 0px );
  }
  25% {
    transform: translate( -80px, -60px );
  }
  50% {
    transform: translate( 100px, 60px );
  }
  75% {
    transform: translate( -80px, 60px );
  }
  100% {
    transform: translate( 0px, 0px );
  }
}

@keyframes mingle-3 {
  0% {
    transform: translate( 0px, 0px );
  }
  25% {
    transform: translate( 60px, -40px );
  }
  50% {
    transform: translate( 40px, -70px );
  }
  75% {
    transform: translate( 80px, -20px );
  }
  100% {
    transform: translate( 0px, 0px );
  }
}

@keyframes mingle-4 {
  0% {
    transform: translate( 0px, 0px );
  }
  25% {
    transform: translate( 100px, 60px );
  }
  50% {
    transform: translate( 60px, -60px );
  }
  75% {
    transform: translate( -50px, -80px );
  }
  100% {
    transform: translate( 0px, 0px );
  }
}

// SECTIONS



// SLIDES

.visibility table {
  width: 100%;
  font-size: 1.5em;
}

.visibility table td {
  width: 33.33%;
  text-align: center;
}

.cloud {
  overflow: hidden;
}

// intro 

/* modal */

.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;

  padding: 2em;

  color: #fff;

  background: #222;
  background: rgba( 0,0,0,0.8 );
}

.modal > h2,
.modal > p {
  margin: 0;

  font-size: 100%;
  line-height: 1.3;
}

/* selection */ 

::selection {
  color: @text;
  background: @color;
}