@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:200,300,400,500,600 );
.fancy-shadow::before,
.fancy-shadow::after {
  content: ' ';
  position: absolute;
  z-index: -9;
  display: block;
  background: url(../img/noise-static.gif );
  background-attachment: fixed;
}
.fancy-shadow::before {
  right: -0.75em;
  bottom: -0.75em;
  width: 0.75em;
  height: 100%;
  margin-right: 0;
}
.fancy-shadow::after {
  right: -0.75em;
  bottom: -0.75em;
  width: 100%;
  height: 0.75em;
  margin-bottom: 0;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Source Code Pro', monospace;
  font-size: 180%;
  font-weight: 400;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: 'liga', 'dlig', 'kern';
  -moz-font-feature-settings: 'liga', 'dlig', 'kern';
  font-feature-settings: 'liga', 'dlig', 'kern';
  text-size-adjust: 100%;
  color: #ffffff;
  background: #000000;
}
* {
  outline: 0;
}
h1,
h2,
h3,
h4 {
  margin: 0;
  font-size: 1em;
}
h2 {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  margin: -1em 0 0 0;
  font-size: 2em;
  font-weight: 300;
  text-align: center;
}
h3 {
  margin: 0 0 0.375em 0;
  font-size: 2em;
  font-weight: 300;
}
a {
  color: #ffffff;
  text-decoration: none;
}
section {
  display: inline;
}
slide {
  position: relative;
  display: block;
  clear: both;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  padding: 8em 2em 2em;
  opacity: 0;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}
slide.current {
  opacity: 1;
}
h1 {
  position: fixed;
  left: 1em;
  top: 1em;
  z-index: 9;
  padding: 0.75em 0 0.75em 1em;
  font-weight: 400;
  line-height: 1;
  background: #000000;
  border: 1px solid #ffffff;
  border-right: 0;
}
h1::before,
h1::after {
  content: ' ';
  position: absolute;
  z-index: -9;
  display: block;
  background: url(../img/noise-static.gif );
  background-attachment: fixed;
}
h1::before {
  right: -0.75em;
  bottom: -0.75em;
  width: 0.75em;
  height: 100%;
  margin-right: 0;
}
h1::after {
  right: -0.75em;
  bottom: -0.75em;
  width: 100%;
  height: 0.75em;
  margin-bottom: 0;
}
h1::before {
  display: none;
}
nav {
  position: fixed;
  left: 1em;
  top: 1em;
  z-index: 99;
  display: block;
  font-size: 85%;
}
nav > span {
  position: relative;
  left: 9.4em;
  top: 0;
  z-index: 11;
  display: block;
}
nav > span::before,
nav > span::after {
  content: ' ';
  position: absolute;
  z-index: -9;
  display: block;
  background: url(../img/noise-static.gif );
  background-attachment: fixed;
}
nav > span::before {
  right: -0.75em;
  bottom: -0.75em;
  width: 0.75em;
  height: 100%;
  margin-right: 0;
}
nav > span::after {
  right: -0.75em;
  bottom: -0.75em;
  width: 100%;
  height: 0.75em;
  margin-bottom: 0;
}
nav ul {
  height: 2em;
  margin: 0;
  padding: 0.25em 0;
  list-style-type: none;
  overflow: hidden;
  background: #000000;
  border: 1px solid #ffffff;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
}
nav ul::before {
  content: ' ';
  position: absolute;
  left: 0;
  top: 1px;
  display: block;
  width: 1px;
  height: 2.5em;
  background: #000000;
}
/*
nav:hover ul {
  height: auto;
  max-height: 12em;
}
*/
nav ul li {
  margin: 0;
  padding: 0;
  overflow: hidden;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
}
/*
nav ul.current-1 > li:first-child {
  margin-top: 0em;
}

nav ul.current-2 > li:first-child {
  margin-top: -2em;
}

nav ul.current-3 > li:first-child {
  margin-top: -4em;
}

nav ul.current-4 > li:first-child {
  margin-top: -6em;
}

nav:hover ul > li:first-child {
  margin-top: 0 !important;
}

*/
nav ul a {
  display: block;
  padding: 0.5em 1em;
  line-height: 1em;
}
nav ul a::before {
  content: '/';
  display: inline-block;
  margin: 0 0.9em 0 0;
}
p {
  margin: 0 0 1.5em 0;
}
.no-margin {
  margin-bottom: 0;
}
.indent {
  margin-left: 2.4em;
}
blockquote {
  position: relative;
  float: left;
  max-width: 60%;
  padding: 0.75em 1.25em 4em 1em;
  background: #000000;
  border: 1px solid #ffffff;
}
blockquote::before,
blockquote::after {
  content: ' ';
  position: absolute;
  z-index: -9;
  display: block;
  background: url(../img/noise-static.gif );
  background-attachment: fixed;
}
blockquote::before {
  right: -0.75em;
  bottom: -0.75em;
  width: 0.75em;
  height: 100%;
  margin-right: 0;
}
blockquote::after {
  right: -0.75em;
  bottom: -0.75em;
  width: 100%;
  height: 0.75em;
  margin-bottom: 0;
}
cloud {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 1px dotted blue;
}
cloud > node {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 50%;
  text-align: center;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
cloud > node:nth-child( 1 ) {
  margin: 0 0 0 -50%;
  -webkit-animation: mingle-1 8s infinite ease;
  animation: mingle-1 8s infinite ease;
}
cloud > node:nth-child( 2 ) {
  margin: -10% 0 0 -25%;
  -webkit-animation: mingle-2 8s infinite ease;
  animation: mingle-2 8s infinite ease;
}
cloud > node:nth-child( 3 ) {
  margin: 10% 0 0 10%;
  -webkit-animation: mingle-3 8s infinite ease;
  animation: mingle-3 8s infinite ease;
}
cloud > node:nth-child( 4 ) {
  margin: 15% 0 0 -5%;
  -webkit-animation: mingle-4 8s infinite ease;
  animation: mingle-4 8s infinite ease;
}
@-webkit-keyframes mingle-1 {
  0% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
  25% {
    -webkit-transform: translate(-50px, -80px);
    transform: translate(-50px, -80px);
  }
  50% {
    -webkit-transform: translate(40px, -60px);
    transform: translate(40px, -60px);
  }
  75% {
    -webkit-transform: translate(50px, 20px);
    transform: translate(50px, 20px);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
}
@keyframes mingle-1 {
  0% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
  25% {
    -webkit-transform: translate(-50px, -80px);
    transform: translate(-50px, -80px);
  }
  50% {
    -webkit-transform: translate(40px, -60px);
    transform: translate(40px, -60px);
  }
  75% {
    -webkit-transform: translate(50px, 20px);
    transform: translate(50px, 20px);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
}
@-webkit-keyframes mingle-2 {
  0% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
  25% {
    -webkit-transform: translate(-80px, -60px);
    transform: translate(-80px, -60px);
  }
  50% {
    -webkit-transform: translate(100px, 60px);
    transform: translate(100px, 60px);
  }
  75% {
    -webkit-transform: translate(-80px, 60px);
    transform: translate(-80px, 60px);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
}
@keyframes mingle-2 {
  0% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
  25% {
    -webkit-transform: translate(-80px, -60px);
    transform: translate(-80px, -60px);
  }
  50% {
    -webkit-transform: translate(100px, 60px);
    transform: translate(100px, 60px);
  }
  75% {
    -webkit-transform: translate(-80px, 60px);
    transform: translate(-80px, 60px);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
}
@-webkit-keyframes mingle-3 {
  0% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
  25% {
    -webkit-transform: translate(60px, -40px);
    transform: translate(60px, -40px);
  }
  50% {
    -webkit-transform: translate(40px, -70px);
    transform: translate(40px, -70px);
  }
  75% {
    -webkit-transform: translate(80px, -20px);
    transform: translate(80px, -20px);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
}
@keyframes mingle-3 {
  0% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
  25% {
    -webkit-transform: translate(60px, -40px);
    transform: translate(60px, -40px);
  }
  50% {
    -webkit-transform: translate(40px, -70px);
    transform: translate(40px, -70px);
  }
  75% {
    -webkit-transform: translate(80px, -20px);
    transform: translate(80px, -20px);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
}
@-webkit-keyframes mingle-4 {
  0% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
  25% {
    -webkit-transform: translate(100px, 60px);
    transform: translate(100px, 60px);
  }
  50% {
    -webkit-transform: translate(60px, -60px);
    transform: translate(60px, -60px);
  }
  75% {
    -webkit-transform: translate(-50px, -80px);
    transform: translate(-50px, -80px);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
}
@keyframes mingle-4 {
  0% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
  25% {
    -webkit-transform: translate(100px, 60px);
    transform: translate(100px, 60px);
  }
  50% {
    -webkit-transform: translate(60px, -60px);
    transform: translate(60px, -60px);
  }
  75% {
    -webkit-transform: translate(-50px, -80px);
    transform: translate(-50px, -80px);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
}
.visibility table {
  width: 100%;
  font-size: 1.5em;
}
.visibility table td {
  width: 33.33%;
  text-align: center;
}
.cloud {
  overflow: hidden;
}
/* modal */
.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  padding: 2em;
  color: #fff;
  background: #222;
  background: rgba(0, 0, 0, 0.8);
}
.modal > h2,
.modal > p {
  margin: 0;
  font-size: 100%;
  line-height: 1.3;
}
/* selection */
::-moz-selection {
  color: #ffffff;
  background: #2fe6ed;
}
::selection {
  color: #ffffff;
  background: #2fe6ed;
}
